body {
  font-family: sans-serif;
  background: #eee;
}

a, h1, h2 {
  color: #377BA8;
}

h1, h2, h3 {
  font-family: 'Georgia', serif;
  margin: 0;
}

h1 {
  border-bottom: 2px;
  solid: #eee;
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

.page {
  margin: 2em auto; 
  width: 35em; 
  border: 5px 
  solid #ccc;
  padding: 0.8em; 
  background: white; 
}
                  
.entries { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
}

.entries li { 
  margin: 0.8em 1.2em; 
}

.entries li h2  { 
  margin-left: -1em; 
}
