{% extends "layout.html" %}
{% block body %}
  <div class = container>
    {% for entry in entries %}
      <div class = single>
          <h2>{{ entry.title }}</h2>
          <h3>{{ entry.created }} </h3>
          <p class=text>{{ entry.text|safe }} </p>
      </div>
    </br></br></br>
    {% else %}
      <li><em>Unbelievable. No entries here so far.</em>
    {% endfor %}
</div>
<div class = "pagination">
  {% if previous %}
  <br/>
  <a href = "/{{ smaller }}">Previous</a>
  {% endif %}
  {% if after %}
  <br/> <a href= "/{{ larger }} ">Next </a>
  {% endif %}
</div>
{% endblock %}
